<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HAT Automation Product Test Suites">
	
	<listeners>
		<listener class-name="frameworkListeners.TestListeners" />
		<listener class-name="frameworkListeners.AnnotationTransformer" />

	</listeners>

	<suite-files>

		<!--<suite-file path="src/test/resources/Testng_ExecFiles/Expense.xml"> </suite-file>
		<suite-file path="src/test/resources/Testng_ExecFiles/Report.xml"></suite-file>
		<suite-file path="src/test/resources/Testng_ExecFiles/MoneyRequest.xml"></suite-file>
		<suite-file path="src/test/resources/Testng_ExecFiles/LoginExpense.xml"></suite-file>
		<suite-file path="src/test/resources/Testng_ExecFiles/LoginExpenseParallel.xml"> </suite-file>-->

	</suite-files>

</suite> <!-- HATWebFramework Automation Test Suites -->
 
